body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,126,32,255);
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 0;
    z-index: 1000;
}
ul{
    display: flex;
    list-style-type: none;
    text-align: center;
}
   
.lista_menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 49px;
    display: block; 
    
}


#logo{
    width: 200px;
    height: auto;
}


html{
    scroll-behavior: smooth;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,126,32,255);
    width: 100%;
    overflow: hidden;
    bottom: 0;
    left: 0;
    height: 60px;
    padding: 0;
}

#contato_botao{
    background-color: rgba(255,126,32,255);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 40px;
   
    margin-top: 25px;
}

#contato_botao:hover {
    
    transform: scale(1.1);
    transition: 0.5s;
}

.sobre-nos {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.sobre-nos h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sobre-nos p {
    font-size: 1.2rem;
    margin: 20px auto;
    max-width: 800px;
}

.equipe-img {
    margin-top: 20px;
    width: 200px;
    height: auto;
    border-radius: 10px;
}


.missao-visao-valores {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: #fff;
}

.card {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 30%;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card p {
    font-size: 1.1rem;
}

.criador {
    display: flex;
   text-align: center;
    gap: 20px;
    align-items: center;
    justify-content: center;
   
}

.membro-equipe {
    text-align: center; 
    max-width: 500px;
    flex-direction: column;
}

.membro-equipe #img-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#eu {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.membro-equipe h4 {
    font-size: 1.1em;
    margin-bottom: 5px;
    
}

.membro-equipe p {
    font-size: 0.9em;
    display: flex;
    text-align: center;
}

@media (max-width: 768px) {
    
    .menu {
        height: auto;
        text-align: center;
    }

    .lista_menu li a {
        padding: 5px;
    }

    #logo {
        
        width: 150px; 
    }

    .rodape {
        font-size: 14px;
        text-align: center;
    }

    .missao-visao-valores{
       padding: 20px;
       width: auto;
       margin: 0 auto;
       flex-direction: column;
       gap: 20px;
       margin-bottom: 80px;
    }
    .card{
        border: 1px solid ;
        display:flex;
        flex-direction:row;
        width: auto;
        gap: 10px;
    }

    .membro-equipe {
        display: flex;

    }
}